#update values and change the filename from 'sampling_config.sample' to 'sampling_config.py'
s1_host = 's1-analytics-slave.eqiad.wmnet'
s6_host = 's6-analytics-slave.eqiad.wmnet'
s1_user = 's1_db_username'
s6_user = 's6_db_username'
s1_defaultcnf = '/path/to/.my.cnf'
s6_defaultcnf = '/path/to/.my.cnf'
web_proxy = 'webproxy.eqiad.wmnet:8080'
download_path = '/path/to/json/snuggle.json'
output_path = '/path/to/csv/'
snuggle_url = 'http://snuggle-en.wmflabs.org/users/query/'